{% extends "base.html" %} {% block title %}IrrigationDevice - Data{% endblock%}
<!-- The text in this line of code changes the internet tab name -->

{% block content %}
<br />
<h1>Device One Data</h1>
<br />
<table class="table table-hover table-bordered table-striped">
  <tr>
    <td><b>Date/Time</b></td>
    <td><b>Flow Rate</b></td>
    <td><b>Volume</b></td>
    <td><b>Channel Area</b></td>
  </tr>
  {% for data in id %}
  <tr>
    <td>{{ data.date }}</td>
    <td>{{ data.flowRate }}</td>
    <td>{{ data.volume }}</td>
    <td>{{ data.channelArea }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
