{% extends "base.html" %} {% block title %}IrrigationDevice - Home{% endblock %}
<!-- The text in this line of code changes the internet tab name -->

{% block content %}
<br />
<h1 style="text-align: center">Farming in the Climate Change Era</h1>
<p style="text-align: center">
  A senior capstone project by team one at Oregon State University
</p>
<p style="text-align: center">&nbsp;</p>
<p style="text-align: center">&nbsp;</p>
<h3 style="text-align: center">Contact Information</h3>
<div
  class="page"
  style="text-align: center"
  role="region"
  data-page-number="5"
  aria-label="Page 5"
  data-loaded="true"
  data-listening-for-double-click="true"
>
  <div class="textLayer" style="text-align: center">
    <span dir="ltr" role="presentation">Adam Farhat:</span>
    <span dir="ltr" role="presentation">farhata@oregonstate.edu</span
    ><br role="presentation" /><span dir="ltr" role="presentation"
      >Isaac Guzman:</span
    >
    <span dir="ltr" role="presentation">guzmange@oregonstate.edu</span
    ><br role="presentation" /><span dir="ltr" role="presentation"
      >Isaac Sutton:</span
    >
    <span dir="ltr" role="presentation">suttoni@oregonstate.edu</span
    ><br role="presentation" /><span dir="ltr" role="presentation"
      >Cameron Lein:</span
    >
    <span dir="ltr" role="presentation">leinca@oregonstate.edu</span>
  </div>
</div>
<div
  class="page"
  role="region"
  data-page-number="6"
  aria-label="Page 6"
  data-loaded="true"
  data-listening-for-double-click="true"
>
  <div class="canvasWrapper" style="text-align: center">&nbsp;</div>
  <div class="textLayer" style="text-align: center">&nbsp;</div>
</div>
{% endblock %}
